* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.highlight {
    color: #fd6e0a;
}

.btn-primary {
    height: 32px;
    background: #fd6e0a;
    border-radius: 4px;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    border: 0;
    padding: 9px 18px;
}


.btn-primary:hover {
    height: 32px;
    background: #656699;
    border-radius: 2px;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    border: 0;
    padding: 9px 14px;
}

.banner {
    height: 500px;
    width: 1200px;
    background-color: transparent;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-position: center;
    text-align: right;
    margin: 0 80px;
}

.banner div {
    width: 300px;
    font-weight: 50;
    font-size: 12px;
    padding: 170px 100px;
    text-align: right;
    float: right;
}

.banner-title,
.banner-description,
.btn-primary {
    padding: 10px;
}

.failure-content {
    display: flex;
    align-items: center;
    padding: 200px 170px;
    width: 150px;
    height: 50px;
    gap: 150px;
    margin: 0 100px;
}

.failure-list,
.failure-title,
.failure-description {
    width: 416px;
    left: 900px;
    padding: 8px;
}

ul {
    /*list-style-image: url('/images/icons/check.png');*/
    list-style-image: url('../images/icons/check.png');
}

.my-plans {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background: #ffffff;
    border-radius: 10px;
}

.skills-container {
    display: flex;
    gap: 24px;
    padding-left: 300px;
}

.section-title {
    padding: 50px;
    font-weight: 700;
    font-size: 40px;
}

.mindset {
    padding: 20px;
    width: 800px;
    height: 200px;
    /*background-image: url('/images/watch-bg.png');*/
    background-image: url('../images/watch-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    left: 250px;
    top: 80px;
    border-radius: 8px;
}

.mindset>h3 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    width: 700px;
    height: 140px;
    padding: 50px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}

.mindset>h3:hover {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;

    width: 700px;
    height: 140px;
    padding: 50px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #0552c5 0%, rgba(241, 91, 34, 0) 100%);
}


.btn-mind {
    margin: 20px 3px;
    padding: 8px;
    background-color: #fa8334;
    color: #ffffff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    height: 45px;
    border-color: #fd6e0a;

}

.mindset>h3:hover .btn-mind {
    margin: 20px 3px;
    padding: 8px;
    background-color: #0552c5;
    color: #ffffff;
    border-radius: 9px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 45px;
    border-color: #0552c5;

}

.future-footer {
    color: #FFFFFF;
    margin: 100px 100px;
    display: flex;
    gap: 40px;
    /*padding: 50px 50px;*/
    padding-top: 50px;
    padding-bottom: 0;
    padding-right: 50px;
    padding-left: 50px;
    background-color: black;
    position: center;
    margin-bottom: 0;


}

.btn-last {
    height: 32px;
    background: #ffffff;
    border-radius: 2px;
    font-weight: 350;
    font-size: 10px;
    color: #b39e28;
    border: 0;
    padding: 9px 18px;
    margin: 8px;
}

.footer-one {
    padding-left: 50px;
    padding-right: 130px;
    text-align: left;
}

.footer-one h3 {
    font-size: 30px;
}

.footer-one>p {

    padding: 8px;
}

.footer-two {
    padding: 8px;
    padding-right: 50px;
    text-align: left;
}


.footer-two .btnCallnow {
    background-color: rgb(255, 255, 255);
    color: rgb(248, 143, 4);
    border-color: black;
    border-radius: 4px;
    font-weight: bold;
    padding: 15px;

}

.footer-two .emailAddress {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    padding: 15px;

}

.monthly {
    padding-left: 400px;
    margin-top: 140px;
    padding-bottom: 0;

}


.table-section {
    padding-top: 0;
    margin: 20px 420px;
    display: flex;
    flex-wrap: wrap;
}

.table-section input[type="radio"] {
    display: none;
}

.table-section label {
    padding: 8px;
    background: #e2e2e2;
    font-size: 8px;
    font-weight: bold;

}

.table-section .styled-table {
    background: url(../images/gradient2.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(243, 81, 16, 0.15);
    order: 1;
    display: none;

}

.table-section input[type="radio"]:checked+label+.styled-table {
    display: block;
}

.table-section input[type="radio"]:checked+label {
    background: url(../images/gradient2.png);
}





td,
tr,
th {
    border: 1px solid cyan;
    padding: 15px 25px;
}

td,
tr {

    text-align: center;
}

td {

    font-style: italic;
    font-size: 15px;
}

th {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid cyan;
}