* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.highlight {
    color: #fd6e0a;
}

.btn-primary {
    height: 32px;
    background: #fd6e0a;
    border-radius: 2px;
    font-weight: 350;
    font-size: 10px;
    color: #FFFFFF;
    border: 0;
    padding: 9px 18px;
}

.banner {
    height: 500px;
    background-color: transparent;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-position: center;
    text-align: right;
}

.banner div {
    width: 300px;
    font-weight: 50;
    font-size: 12px;
    padding: 170px 100px;
    text-align: right;
    float: right;
}

.banner-title,
.banner-description,
.btn-primary {
    padding: 10px;
}

.failure-content {
    display: flex;
    align-items: center;
    padding: 200px 170px;
    width: 150px;
    height: 50px;
    gap: 150px;
    margin: 0 100px;
}

.failure-list,
.failure-title,
.failure-description {
    width: 416px;
    left: 900px;
    padding: 8px;
}

ul {
    list-style-image: url('/images/icons/check.png');
}

.my-plans {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background: #ffffff;
    border-radius: 10px;
}

.skills-container {
    display: flex;
    gap: 24px;
    padding-left: 300px;
}

.section-title {
    padding: 50px;
    font-weight: 700;
    font-size: 40px;
}

.mindset {
    padding: 20px;
    width: 800px;
    height: 200px;
    background-image: url('/images/watch-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    left: 210px;
    top: 80px;
    border-radius: 8px;
}

.mindset>h3 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    width: 700px;
    height: 140px;
    padding: 50px;

    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}

.mindset h3>.btn-primary {
    margin: 20px 3px;
    padding: 8px;
    background-color: white;
    color: #F15B22;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    height: 30px;

}

.future-footer {
    color: #FFFFFF;
    margin: 100px 100px;
    display: flex;
    gap: 40px;
    /*padding: 50px 50px;*/
    padding-top: 50px;
    padding-bottom: 0;
    padding-right: 50px;
    padding-left: 50px;
    background-color: black;
    position: center;


}

.btn-last {
    height: 32px;
    background: #ffffff;
    border-radius: 2px;
    font-weight: 350;
    font-size: 10px;
    color: #b39e28;
    border: 0;
    padding: 9px 18px;
    margin: 8px;
}

.footer-one {
    padding-right: 80px;
    text-align: left;
}

.footer-two {
    padding: 8px;
    text-align: left;
}


.footer-two .btnCallnow {
    background-color: rgb(255, 255, 255);
    color: rgb(248, 143, 4);
    border-color: black;
    border-radius: 4px;
    font-weight: bold;
    padding: 15px;

}

.footer-two .emailAddress {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    padding: 15px;

}

.table-section {
    padding-top: 130px;
    margin: 30px 370px;


}

table {
    background: url(../images/gradient2.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(243, 81, 16, 0.15);
}

td,
tr,
th {
    border: 1px solid cyan;
    padding: 5px 15px;
}

td,
tr {

    text-align: center;
}

td {

    font-style: italic;
    font-size: 15px;
}

th {
    font-weight: bold;
    border: 3px solid cyan;
}